.page {
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  width: 100%;
  height: 50%;
}

.homepage_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

#linkCards {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  width: 45%;
  height: 100%;
}